.btn-circle.btn-xl {
  width: 130px;
  height: 50px;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 35px;
}

.Mage {
  margin-left: 10px;
}

.Fireball {
  margin-left: 10px;
}

.ElectronShock {
  margin-top: -100px;
  margin-left: 0;
}

.Freeze {
  margin-top: 100px;
  margin-left: -130px;
}

.Thunderbolt {
  margin-top: -100px;
  margin-left: 20px;
}

.Snowstorm {
  margin-top: 100px;
  margin-left: -130px;
}

#legend {
  margin-top: 30px;
}
