<!--HEADER BTNS-->
<div class="routingBtns">
  <button id="Mage" class="btn btn-primary btn-circle btn-xl" routerLink="/mage" routerLinkActive="active">Mage</button>
  <button id="Warrior" class="btn btn-info btn-circle btn-xl" routerLink="/warrior" routerLinkActive="active">Warrior
  </button>
</div>

<!--POST IT-->
<div class="sticky">
  <h4>{{nodeName}}</h4>
  <p>
    <small>isLocked: {{nodeLocked}}</small>
  </p>
  <p>
    <small>canBeUnlocked: {{nodeCanBeUnlocked}}</small>
  </p>
</div>

<!--NODES-->
<div>
  <button type="button" class="btn btn-circle btn-xl"
          *ngFor="let node of mageNodesList"
          [ngClass]="[ node.name, node.isLocked == true ? 'btn-danger' : 'btn-success']"
          (mouseover)="display($event, node)"
          (click)="unlock($event, node)">
    <span>{{node.name}}</span>
  </button>
</div>

<!--LEGEND-->
<div id="legend">
  <h4> Legend : </h4>
  <button type="button" class="btn btn-success btn-circle btn-lg"></button>
  <span> : Node is unlocked </span><br><br>
  <button type="button" class="btn btn-danger btn-circle btn-lg"></button>
  <span> : Node is locked </span>
</div>
