.btn-circle.btn-xl {
  width: 130px;
  height: 50px;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 35px;
}

.Warrior {
  margin-left: 10px;
}

.Strike {
  margin-top: -140px;
}

.Hit {
  margin-top: 140px;
  margin-left: -130px;
}

.DoubleStrike {
  margin-top: -200px;
  margin-left: 20px;
}

.Slash {
  margin-top: -50px;
  margin-left: -130px;
}

.Knockout {
  margin-top: 140px;
  margin-left: -130px;
}

.RoundhouseKick {
  margin-top: 35px;
}

#legend {
  margin-top: 30px;
}
