/* You can add global styles to this file, and also import other style files */

/* Header buttons */
.routingBtns{
  margin-top: 20px;
  text-align:center
}
/* POST IT */
.sticky {
  /* General */
  margin: 10px 80%;
  padding: 8px 24px;
  width: 180px;
  /* Font */
  font-family: 'Permanent Marker', cursive;
  font-size: 1em;
  /* Border */
  border: 1px;
  /* Shadow */
  -moz-box-shadow: 0px 0px 6px 1px #333333;
  -webkit-box-shadow: 0px 0px 6px 1px #333333;
  box-shadow: 0px 0px 6px 1px #333333;
  /* Background */
  background: #fefdca; /* Old browsers */
  background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefdca), color-stop(100%, #f7f381)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefdca 0%, #f7f381 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefdca 0%, #f7f381 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fefdca 0%, #f7f381 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefdca', endColorstr='#f7f381', GradientType=0); /* IE6-9 */
  background: linear-gradient(to bottom, #fefdca 0%, #f7f381 100%);
}
.sticky h4 {
  font-size: 1.4em;
  text-align: center;
  padding-bottom: 0;
}
.sticky p {
  text-align: center;
  padding-bottom: 0;
}
