<!--HEADER BTNS-->
<div class="routingBtns">
  <button id="Mage" class="btn btn-primary btn-circle btn-xl" routerLink="/mage" routerLinkActive="active">Mage</button>
  <button id="Warrior" class="btn btn-info btn-circle btn-xl" routerLink="/warrior" routerLinkActive="active">Warrior</button>
</div>
